<%- include('../partials/header.ejs')  %> 

<!-- CONTENT GOES HERE -->
<div class="container">
    <h1 class="mt-3 text-center" >Home Page</h1>
    <hr />

</div>


<%- include('../partials/footer.ejs')  %> 